gestionLibros.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost/dwes/soap/servidorsoaplibros.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="gestionLibros" targetNamespace="http://localhost/dwes/soap/servidorsoaplibros.php">
<types>
<xsd:schema targetNamespace="http://localhost/dwes/soap/servidorsoaplibros.php">
<xsd:element name="cargarLibros">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="mysqli" type="xsd:struct"/>
<xsd:element name="id" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cargarLibrosResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="cargarLibrosResult" type="soap-enc:Array"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</types>
<portType name="gestionLibrosPort">
<operation name="cargarLibros">
<documentation>/**</documentation>
<input message="tns:cargarLibrosIn"/>
<output message="tns:cargarLibrosOut"/>
</operation>
</portType>
<binding name="gestionLibrosBinding" type="tns:gestionLibrosPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="cargarLibros">
<soap:operation soapAction="http://localhost/dwes/soap/servidorsoaplibros.php#cargarLibros"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="gestionLibrosService">
<port name="gestionLibrosPort" binding="tns:gestionLibrosBinding">
<soap:address location="http://localhost/dwes/soap/servidorsoaplibros.php"/>
</port>
</service>
<message name="cargarLibrosIn">
<part name="parameters" element="tns:cargarLibros"/>
</message>
<message name="cargarLibrosOut">
<part name="parameters" element="tns:cargarLibrosResponse"/>
</message>
</definitions>